<p id="notice"><%= notice %></p>

<h1>Notes</h1>
<div>
Template made just to show that <strong>render @article</strong> loads partial from "articles/article"
<div>

<div>
Look into <strong>"notes/_article.html.erb"</strong> to see the difference from <strong>"articles/_article.html.erb"</strong>
<div>

<%= render @article %>
<div>
